<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cloud Architect Final W/S</h1>
    <h2><p>Welcome to <%= title %><br><br>Test Connection Azure Database for MySQL: <br><br><a href="/books">Go to Database</a><br><br>by 김상범</p></h2>
  </body>
</html>
