<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Deployment version 0.0</h1>
    <h2><p>Welcome to <%= title %><br><br>Test Connection Azure SQL Database: <br><br><a href="/books">Test Connection</a><br><br>SandBox 교육</p></h2>
  </body>
</html>
