<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>version 1.04</h1>
    <p>Welcome !! <%= title %><br><br>Git->Github->Jenkins->Azure Virtual e: <a href="/books">Register Books</a><br><br>Published on: <a href="https://www.mynotepaper.com">mynotepaper.com</a></p>
  </body>
</html>
