<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AIA SandBox Architecture</h1>
    <p>Welcosdfsdfme to <%= title %><br><br>Git->Github->Jenkins->Azure Virtual Machine: <a href="http://52.231.95.90:3002/">Register Books</a><br><br>Published on: <a href="https://www.mynotepaper.com">mynotepaper.com</a></p>
  </body>
</html>
