<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Deployment version 1.11</h1>
    <h2><p>Welcome to <%= title %><br><br>Connected to Azure SQL Database: <a href="/books">Register Education</a><br><br>SandBox 교육</p></h2>
  </body>
</html>
