body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('architect.png');
  background-repeat:no-repeat;
  background-size: 40%;
  background-position: right 20% top;
}

a {
  color: #00B7FF;
}
