body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('test.png');
  background-repeat:no-repeat;
  background-size: 70%;
  background-position: right 100% top;
}

a {
  color: #00B7FF;
}
