body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('test.png');
  background-repeat:no-repeat;
  background-size: auto;
  background-position: left;
}

a {
  color: #00B7FF;
}
